<!-- Burası Fihrist -->
<br>
<div class="container">
    <div class="main-fihrist ">
  <div class="row justify-content-center">

    <form class="form-inline ">
        <a href="/ruyatabiri/a"><button class="btn btn-outline-primary fihrist" type="button">A</button></a>
        <a href="/ruyatabiri/b"><button class="btn btn-outline-primary fihrist" type="button">B</button></a>
        <a href="/ruyatabiri/c"><button class="btn btn-outline-primary fihrist" type="button">C</button></a>
        <a href="/ruyatabiri/ç"><button class="btn btn-outline-primary fihrist" type="button">Ç</button></a>
        <a href="/ruyatabiri/d"><button class="btn btn-outline-primary fihrist" type="button">D</button></a>
        <a href="/ruyatabiri/e"><button class="btn btn-outline-primary fihrist" type="button">E</button></a>
        <a href="/ruyatabiri/f"><button class="btn btn-outline-primary fihrist" type="button">F</button></a>
        <a href="/ruyatabiri/g"><button class="btn btn-outline-primary fihrist" type="button">G</button></a>
        <a href="/ruyatabiri/h"><button class="btn btn-outline-primary fihrist" type="button">H</button></a>
        <a href="/ruyatabiri/I"><button class="btn btn-outline-primary fihrist" type="button">I</button></a>
        <a href="/ruyatabiri/İ"><button class="btn btn-outline-primary fihrist" type="button">İ</button></a>
        <a href="/ruyatabiri/j"><button class="btn btn-outline-primary fihrist" type="button">J</button></a>
        <a href="/ruyatabiri/k"><button class="btn btn-outline-primary fihrist" type="button">K</button></a>
        <a href="/ruyatabiri/l"><button class="btn btn-outline-primary fihrist" type="button">L</button></a>
        <a href="/ruyatabiri/m"><button class="btn btn-outline-primary fihrist" type="button">M</button></a>
        <a href="/ruyatabiri/n"><button class="btn btn-outline-primary fihrist" type="button">N</button></a>
        <a href="/ruyatabiri/o"><button class="btn btn-outline-primary fihrist" type="button">O</button></a>
        <a href="/ruyatabiri/ö"><button class="btn btn-outline-primary fihrist" type="button">Ö</button></a>
        <a href="/ruyatabiri/p"><button class="btn btn-outline-primary fihrist" type="button">P</button></a>
        <a href="/ruyatabiri/r"><button class="btn btn-outline-primary fihrist" type="button">R</button></a>
        <a href="/ruyatabiri/s"><button class="btn btn-outline-primary fihrist" type="button">S</button></a>
        <a href="/ruyatabiri/ş"><button class="btn btn-outline-primary fihrist" type="button">Ş</button></a>
        <a href="/ruyatabiri/t"><button class="btn btn-outline-primary fihrist" type="button">T</button></a>
        <a href="/ruyatabiri/u"><button class="btn btn-outline-primary fihrist" type="button">U</button></a>
        <a href="/ruyatabiri/ü"><button class="btn btn-outline-primary fihrist" type="button">Ü</button></a>
        <a href="/ruyatabiri/v"><button class="btn btn-outline-primary fihrist" type="button">V</button></a>
        <a href="/ruyatabiri/y"><button class="btn btn-outline-primary fihrist" type="button">Y</button></a>
        <a href="/ruyatabiri/z"><button class="btn btn-outline-primary fihrist" type="button">Z</button></a>

    </form>
  
</div>
</div>
</div>
<br>
