<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-box">
                    <form action="/ruyatabiri/a">
                        {% csrf_token %}
                        <input type="text" name = "keyword" class="input-lg search-field searchbox" maxlength="64" placeholder="Rüyanızı Buraya Yazın">
                        <button type="submit" class="btn btn-primary btn-lg search-btn">Ara</button>
                    </form>  
                
            </div>




            
        </div>
    </div>
</div>   


    