{% extends "layout.html" %}

{% block body %}


<br>
<main>
	<article>
<div class="container">
<div class="row justify-content-around">

{% if ruyatabirleri %}

        {% for ruyatabiri in ruyatabirleri %}
			<div class="col-md-3 text-center bg-primary rounded mr-2 ml-2 mb-1">
			<a href="/ruyatabiri/ruyatabiridetay/{{ruyatabiri.id}}" class="text-white"><br><b>{{ruyatabiri.title}}</b><br><br></a>
			</div>
        {% endfor %}
    
      
{% else %}
{% endif %}

</div>
</div>
	</article>
</main>
{% endblock body %}